.company-name {
    color: #79B4A9;
    font-family: "Ubuntu";
    font-size: 1.5rem;
    font-weight: 800;
    text-decoration: none;
  }
  
  .description-position {
    color: #1c1c11;
  }
  
  .position {
    color: #1c1c11;
  }
  